<% actions = flash[:actions] %>
<% if alert = flash[:alert] %>
  <div class="alert <%= 'alert-block' if flash[:actions] %> alert-error">
    <%= alert.html_safe %>
    <% if actions %>
      <div class="alert-actions">
        <% actions.each do |name, link| %>
          <%= link_to name, link, :class => "btn btn-small" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<% if alert = flash[:info] %>
  <div class="alert <%= 'alert-block' if flash[:actions] %> alert-info">
    <%= alert.html_safe %>
    <% if actions %>
      <div class="alert-actions">
        <% actions.each do |name, link| %>
          <%= link_to name, link, :class => "btn btn-small" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if notice = flash[:notice] %>
  <div class="alert <%= 'alert-block' if flash[:actions] %> alert-success">
    <%= notice.html_safe %>
    <% if actions %>
      <div class="alert-actions">
        <% actions.each do |name, link| %>
          <%= link_to name, link, :class => "btn btn-small" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>